.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #c9572f;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #d7af2e;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #d1399e;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #0a5e58;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 3em;
    opacity: 0.2;
    float: right;
    color: #000;
  }

  .card-counter .count-numbers{
    position: absolute;
    /* right: 35px; */
    top: 30px;
    font-size: 35px;
    display: block;
    font-weight: bold;
  }

  .card-counter .count-name{
    /* position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px; */

    font-style: italic;
    text-transform: capitalize;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    text-align: right;
  }
  .arrow-card{
    font-size: 15px !important;
    padding: 2px 0px 2px 5px !important;
    color: #fff !important;
    opacity: 1 !important;
  }
  .card-headline{
      font-size: 11px;
  }